#title {
    font-size: 30px;
}

/* General Page Styling */

.div_page {
    position: absolute;
    top: 15%;
    width: 99%; /* 100% is larger than header, producing "scoll" */
    height: 85%;
    text-align: center;
    background-color: #fff;
    transition: left 0.5s;
}

.div_page.current_page {
    left: 0%;
}

.div_page.page_right {
    left: 100%;
}

.div_page.page_left {
    left: -100%;
}

.hidden {
    overflow: hidden; 
    height: 1px; width: 1px; 
    margin: -1px;
}

.back_arrow {
    position: relative;
    right: 20%;
    top: 5vh; /* vh = 1% of viewport */
    font-size: 2em;
}

/* Setting -- Catagories */

#cat_options {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.cat_button {
    padding: 15px;
    margin: 15px;
    width: 90%;
    text-align: left;
    font-size: 15px;
    border-style: solid;
    border-color: #DC133C;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: background-color 0.25s;
}

.cat_button_selected {
    background-color: crimson;
}

.cat_desc {
    display: inline;
    font-family: Verdana, Helvetica, sans-serif;
}

.cat_arrow {
    margin: 0px;
    float: right;
    position: top;
}
