#title {
    font-size: 30px;
    font-style: bold;
}


/* Setting -- Catagories */

.div_page {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 85%;
    text-align: center;
}

#cat_options {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.cat_option {
    padding: 15px;
    margin: 15px;
    width: 90%;
    text-align: left;
    font-size: 15px;
    border-style: solid;
    border-color: crimson;
    border-radius: 20px;
    outline: none;
    transition: background-color 1s;
}

.cat_desc {
    display: inline;
    font-family: Verdana, Helvetica, sans-serif;
}

.cat_arrow {
    margin: 0px;
    float: right;
    position: top;
}
