#event_track_add {
    background: crimson; 
    border: none;
    color: white;
    margin-left: white;
    padding: 10px 14px;
    font-size: 16px;
}

.event_container {
    background: gray;
}

.event_subcontainer {
    background: lightcoral;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    margin: auto;
    width: 75%;
    margin-top: 1em;
}

.event_delete {
    font-size: 1em;
    background: crimson;
    border-radius: 20px;
    float: right;
    border: none;
}