/* 
This file is for generic elements such a buttons or text that is common in our app
This is to limit the file size for our page specific styles    
*/


.sw_button {
    background: crimson;
    border-radius: 20px;
    border: none;
    outline: none;
}

.sw_big_button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10%;
    background-color: red;
    color: white;
    -webkit-appearance: none;
}

.back_arrow {
    cursor: pointer;
    font-size: 2em;
}

/* -- Nav Menu -- */

#navigation_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 2em;
}

.navigation_menu_link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#navigation_menu_close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.75em;
    color: white;
}

