/* 
This file is for generic elements such a buttons or text that is common in our app
This is to limit the file size for our page specific styles    
*/


.sw_button {
    background: crimson;
    border-radius: 20px;
    border: none;
    outline:none;
}

.back_arrow {
    position: relative;
    right: 20%;
    top: 5vh; /* vh = 1% of viewport */
    font-size: 2em;
}

