
/*  GENERAL  */

h1 {
    font-size: 4em;
}

p {
    font-size: 1.8em;
}

/*  FORM  */

form {
    margin: 10px;
}

label {
    margin-top: 2%;
    font-size: 1.5em;
}

#label_email {
    padding: 3%;
}

#button_signup {
    padding: 10px 40px;
}

/*  ACCOUNT TYPES  */

#p_accountType {
    margin: 0.2em;
}

.account_type_button {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 1.5em;
    background-color: whitesmoke;
    /* transition: border 0.5s;   Add after page load to prevent moving */
    /* ^ Explanation:  https://bit.ly/2Qf7PS9 */
}

.selected {
    border: 2px solid crimson;
}



