
header { 
    text-align: center;
}

header > span {
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    display: inline-block;
}

header > p {
    margin-left: auto;
    font-size: 3.5em;
    display: inline-block;
}

button {
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
}
