#accountPage #title {
    font-size: 30px;
}

/* General Page Styling */

#accountPage .back_arrow {
    position: relative;
    right: 20%;
    top: 5vh; /* vh = 1% of viewport */
    font-size: 2em;
}

#accountPage .generic_button {
    margin-right: 1%; /* centers button */
    width: 85%;
    height: 30px;
    text-align: center;
    font-size: 15px;
    border-style: solid;
    border-color: crimson;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: background-color 0.25s;
}

#accountPage .generic_selected {
    background-color: crimson;
}

#accountPage #settingsPage p {
    font-weight: bold;
    font-size: 2em;
    overflow: auto;
}

#accountPage #catagoryPage #title {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

/* Setting -- Catagories */

#accountPage #cat_options {
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

#accountPage .cat_button {
    padding: 15px;
    margin: 15px;
    width: 90%;
    text-align: left;
    font-size: 15px;
    border-style: solid;
    border-color: crimson;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: background-color 0.25s;
}

#accountPage .cat_button_selected {
    background-color: crimson;
}

#accountPage .cat_desc {
    display: inline;
    font-family: Verdana, Helvetica, sans-serif;
}

#accountPage .cat_arrow {
    margin: 0px;
    float: right;
    position: top;
}

/* Setting -- Account */

#settingsPage > #account_edit_inputs > p {
    margin-bottom: 5px;
}

#settingsPage > #account_edit_inputs > input {
    padding: 10px;
    border-width: 2px;
    border-color: crimson;
    margin-bottom: 15px;
    font-size: 1.5em;
    width: 60%;
    outline: none;
}

#settingsPage > #account_edit_inputs > .generated_button {
    margin-bottom: 8vh;
}

/* .act_drop_wrapper {
    margin: 20px;
    margin-left: 7%;
    width: 85%;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: crimson;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: height 0.25s;
}

.act_drop_button {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
}

.act_drop_content {
    background-color: white;
    height: 210px;
    padding: 5%;
    margin: 5%;
    opacity: 0;
    transition: opacity 0.25s;
}

.drop_button_underline {
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
}

.dropdown_expanded {
    height: 300px;
} */
