#title {
  font-size: 30px;
}

/* General Page Styling */

.div_page {
  position: absolute;
  /*top: 15%; */
  top: 0;
  width: 99%; /* 100% is larger than header, producing "scoll" */
  height: 85%;
  text-align: center;
  background-color: #fff;
  transition: left 0.5s;
}

.div_page.current_page {
  left: 0%;
}

.div_page.page_right {
  left: 100%;
}

.div_page.page_left {
  left: -100%;
}

/* Shamelessly stole from:
https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
.hidden {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0);
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  padding: 0;
  border: 0;
}

.back_arrow {
  position: relative;
  right: 20%;
  top: 5vh; /* vh = 1% of viewport */
  font-size: 2em;
}

.generic_button {
  margin-right: 1%; /* centers button */
  width: 85%;
  height: 30px;
  text-align: center;
  font-size: 15px;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  transition: background-color 0.25s;
}

.generic_selected {
  background-color: crimson;
}

#accountPage #settingsPage p {
  font-weight: bold;
  font-size: 2em;
  overflow: auto;
}

/* Setting -- Catagories */

#cat_options {
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}

.cat_button {
  padding: 15px;
  margin: 15px;
  width: 90%;
  text-align: left;
  font-size: 15px;
  border-style: solid;
  border-color: crimson;
  border-radius: 20px;
  background-color: white;
  outline: none;
  transition: background-color 0.25s;
}

.cat_button_selected {
  background-color: crimson;
}

.cat_desc {
  display: inline;
  font-family: Verdana, Helvetica, sans-serif;
}

.cat_arrow {
  margin: 0px;
  float: right;
  position: top;
}

/* Setting -- Account */

.act_drop_wrapper {
  margin: 20px;
  margin-left: 7%;
  width: 85%;
  height: 30px;
  text-align: center;
  border-style: solid;
  border-color: crimson;
  border-width: 1px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  transition: height 0.25s;
}

.act_drop_button {
  width: 100%;
  height: 30px;
  font-size: 15px;
  border: none;
  outline: none;
}

.act_drop_content {
  background-color: white;
  height: 210px;
  padding: 5%;
  margin: 5%;
  opacity: 0;
  transition: opacity 0.25s;
}

.drop_button_underline {
  border-bottom: solid;
  border-width: 1px;
  border-color: gray;
}

.dropdown_expanded {
  height: 300px;
}
