/* 
This file is for generic elements such a buttons or text that is common in our app
This is to limit the file size for our page specific styles    
*/


.sw_button {
    background: #dd3333;
    border-radius: 20px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sw_big_button {
    margin: 10px;
    padding: 15px 25px;
    font-size: 5.5vw;
    font-weight: bold;
    border-radius: 12px;
    background-color: #dd3333;
    color: white;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.sw_text_input {
    padding: 10px;
    /* border-width: 2px; */
    /* border-color: #dd3333; */
    margin-bottom: 15px;
    font-size: 1.5em;
    width: 60%;
    outline: none;
    -webkit-appearance: none;;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
}

.sw_dropdown {
    padding: 5px 10px;
    width: 50vw;
    height: 40px;
    font-size: 1.8em;
    border: 2px solid #dd3333;
    -webkit-appearance: none;
}

.back_arrow {
    cursor: pointer;
    font-size: 2em;
}

/* for input sliders */
.switch_container {
    margin: auto;
    width: 25em;
    display: inline-block;
    vertical-align: middle;
}

.switch_text {
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size: 2em;
    word-break: break-all;
    word-wrap: break-word;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 3em;
    vertical-align: middle;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* -- Nav Menu -- */

/*#navigation_menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 2em;
}

.navigation_menu_link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#navigation_menu_close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.75em;
    color: white;
}*/

