/* index.css is the global styling page. Any styling specific to a certain page must be kept in it's respective file */

body {
    font-family: sans-serif;
    font-size: 10px;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#app {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 93%;
    transition: filter 0.5s;
}

span {
    cursor: pointer;
}

input {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.loader_container {
    width: 100%;
    height: 105%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #eff3f0;
}

/* old loader */

/* .loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto;
    border: 16px solid #dd3333;
    border-top: 16px groove black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
} */

.loader {
    display: block;
    z-index: 3;
    margin: auto;
    width: 70%;
}

/* ---- TRANSITION STYLING ---- */

.div_page {
    position: absolute;
    /* top: 15%; */
    left: 0; /* Needed for page transitions to work on iOS */
    padding-bottom: -7%;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.div_page > .div_page {
    overflow: auto;
    overflow-x: hidden; /* Prevents side scrolling */
}
.div_page > .div_page > *:last-child {
    margin-bottom: 20% !important; /* Adds padding to allow scrolling to bottom of page */
}

.div_page.current_page {
    left: 0%;
}

.div_page.page_right {
    left: 100%;
}

.div_page.page_left {
    left: -100%;
}

/* Shamelessly stole from:
https://css-tricks.com/places-its-tempting-to-use-display-none-but-dont/ */
.hidden {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0);
    height: 1px !important;
    width: 1px !important;
    margin: -1px !important;
    padding: 0;
    border: 0;
}

/* Commonly used sportwatch styles */
.generic_header {
    display: block;
    position: fixed;
    top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: table;
    table-layout: fixed;
    padding: 0.5em 0; /* Don't pad the sides */
    border-bottom: solid #000 3px;
    background-color: rgb(44, 44, 46);
    text-align: center;
    width: 100%;
    overflow-x: hidden;

    /* pain-in-the-neck ihpone... has to have non-rectangular screens */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.generic_header.page_right {
    left: 100%;
}

.generic_header.page_left {
    left: -100%;
}


.generic_select {
    color: white;
    font-size: 2em;
    padding: 0.5em;
    background-color: #dd3333;
    border: 1px solid black;
    border-radius: 15%;
}

.generic_header * {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: white;
    display: table-cell;
}

.generic_header > h1 {
    font-size: 3em;
}

.back_button {
    font-size: 3em;
    font-weight: bold;
    color: #dd3333;
}

.add_button {
    font-size: 2.5em;
    background: rgb(64, 202, 0);
    border-radius: 50%;
    border: 2px solid black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button_selected {
    color: white;
    background-color: black;
    border: 1px solid #dd3333;
}

.button_box {
    width: 100%;
    text-align: center;
    display: block;
}

.generated_button.coaches_button {
    margin-top: 1em;
    background-color: rgb(44, 44, 46) !important;
    color: white;
}

/* CSS FOR GENERATED BUTTONS */
.generated_button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
    padding: 18px;

    background-color: lightgray;
    color: black;

    border-radius: 12px;
    border: 2px solid black;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* generic table layout */
.table_container {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.table_container * {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.left_container {
    text-align: left;
    width: 100%;
    margin: 3em 0em 2em 2em;
    
    /* pain-in-the-neck ihpone... has to have non-rectangular screens */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.left_text {
    display: inline-block;
    font-size: 7vw;
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    -webkit-text-decoration-color: #dd3333;
    /* safari still uses vendor prefix */
    text-decoration-color: #dd3333;
}

/* info that will be displayed in the middle of screen to indicate missing information */
.missing_info_text {
    font-size: 5.5vw;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding: 1em;
    width: 70%;
    border: 2px solid #dd3333;
    background-color: rgb(229, 229, 234);
    border-radius: 12px;
    text-align: center;
    word-wrap: break-word;
}

/* TODO: merge with missing info text */
.info_box {
    font-size: 2.5em;
    display: block;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding: 1em;
    width: 70%;
    border: 2px solid #dd3333;
    background-color: rgb(229, 229, 234);
    border-radius: 12px;
    text-align: center;
    word-wrap: break-word;
}

.subheading_text {
    word-wrap: break-word;
    text-align: center;
    font-size: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: bold;
}

.female_color {
    background-color: #fc99b6;
}

.male_color {
    background-color: #6a81e1;
}

.female_color_alternate {
    background-color: lightpink;
}

.male_color_alternate {
    background-color: lightblue;
}

.sprint_event {
    background-color: lightcoral;
}

.mid_event {
    background-color: #68a8be;
}

.hurdle_event {
    background-color: #68be9a;
}

.long_event {
    background-color: #68bebc;
}

.ultra_long_event {
    background-color: #a368be;
}

.power_field_event {
    background-color: lightblue;
}

.non_power_field_event {
    background-color: violet;
}

.relay_event {
    border: 2px dashed black;
}

/* ---- MISC ---- */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
  }

/* Disable copy action on long hold */
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

/* disable orange outline */
*:focus {
    outline: none;
}

/* remove blue selection color */
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}