#settingsPage #title {
    font-size: 30px;
}

/* General Page Styling */

#settingsPage .back_arrow {
    position: relative;
    right: 20%;
    top: 5vh; /* vh = 1% of viewport */
    font-size: 2em;
}

#settingsPage .generic_selected {
    background-color: var(--sw-main-color);
}

#settingsPage #editPage p {
    font-weight: bold;
    font-size: 2em;
    overflow: auto;
}

#settingsPage #catagoryPage #title {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

#settingsPage #editPage {
    margin-bottom: 7em;
}

/* Setting -- Catagories */

#settingsPage #cat_options {
    margin-top: 10em;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

#settingsPage .cat_button {
    font-weight: bolder;
    padding: 15px;
    margin: 15px;
    width: 90%;
    text-align: left;
    font-size: 2em;
    border-style: solid;
    border-color: var(--sw-main-color);
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: background-color 0.25s;
}

#settingsPage .cat_button_selected {
    background-color: var(--sw-main-color);
}

#settingsPage .cat_desc {
    display: inline;
    font-family: Verdana, Helvetica, sans-serif;
}

#settingsPage .cat_arrow {
    margin: 0px;
    float: right;
    position: top;
}

/* Setting -- Account */

#settingsPage #editPage #account_edit_inputs p {
    margin-bottom: 5px;
}

#settingsPage #editPage #account_edit_inputs input {
    padding: 10px;
    border-width: 2px;
    border-color: var(--sw-main-color);
    margin-bottom: 15px;
    font-size: 1.5em;
    width: 60%;
    outline: none;
}

#settingsPage #editPage > #account_edit_inputs > .generated_button {
    margin-bottom: 8vh;
    background-color: var(--add-button-color);
    transition: background-color 0.5s;
}
#settingsPage #editPage > #account_edit_inputs > .generated_button:disabled {
    background-color: var(--disabled-button-color);
}

#settingsPage #editPage > #account_edit_inputs .twoColWrapper > * {
    width: 45%;
    display: inline-block;
}
#settingsPage #editPage .twoColWrapper > .leftColumn > *:not(p),
#settingsPage #editPage .twoColWrapper > .rightColumn > *:not(p) {
    width: fit-content;
}

#settingsPage #editPage #passwordWrapper {
    transition: all 0.5s;
}

/* Setting -- Team Preference */

#settingsPage #editPage #searchList {
    height: 30vh;
    overflow: auto;
    transition: height 0.5s;
}
#settingsPage #editPage #searchList.noResults {
    height: 0;
}

#settingsPage #editPage .searchResult {
    margin: 0 auto;
    padding: 15px;
    width: 65%;
    display: block;
    text-align: left;
    -webkit-appearance: none;
}
#settingsPage .s_name {
    font-size: 1.5em;
}
#settingsPage .s_logo {
    margin-right: 0.5em;
    width: 1.5em;
    border: 1px solid black;
}

#editPage input:checked + .slider {
    background-color: var(--sw-main-color);
}

#settingsPage #changeTeamButton {
    background-color: var(--add-button-color);
    transition: background-color 0.5s;
}
#settingsPage #changeTeamButton:disabled {
    background-color: var(--disabled-button-color);
}

#settingsPage #addWrapper > .inputLabel {
    margin: 0 0 5px 0;
}

#settingsPage #editPage #addWrapper > .sw_text_input {
    border: 2px solid var(--sw-main-color);
    transition: border-color 0.5s;
}
#settingsPage #editPage #addWrapper > *.invalid {
    border-color: black;
}

#settingsPage  #addWrapper > .sw_dropdown {
    margin-bottom: 5vw;
    transition: border-color 0.5s;
}

#settingsPage #button_sendInvite {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.5s;
}
#settingsPage #button_sendInvite:disabled {
    background-color: var(--disabled-button-color);
}

#settingsPage #importRoster {
    margin-top: 3vh;
    padding: 10px;
    font-size: 2em;
    background-color: var(--add-button-color);
    border: 1px solid black;
    border-radius: 5px;
}

#settingsPage form > .generated_button { /* Remove athlete button */
    background-color: var(--sw-main-color);
}
#settingsPage form > .generated_button:disabled {
    background-color: var(--disabled-button-color);
}

#settingsPage #deleteWrapper h1 {
    padding-bottom: 0;
}
#settingsPage #deleteWrapper p {
    margin: 0 3vw 2vh 3vw;
    font-weight: unset;
}
#settingsPage #deleteWrapper p {
    margin: 0 3vw 2vh 3vw;
    font-weight: unset;
}
#settingsPage #deleteWrapper a {
    color: black;
}

#settingsPage #deleteWrapper #deleteAccount {
    background-color: var(--sw-main-color);
    transition: all 0.5s;
}
#settingsPage #deleteWrapper #deleteAccount:disabled {
    background-color: var(--disabled-button-color);
}
#settingsPage #deleteWrapper #deleteTeam {
    background-color: var(--sw-main-color);
    transition: all 0.5s;
}
#settingsPage #deleteWrapper #deleteTeam:disabled {
    background-color: var(--disabled-button-color);
}


#settingsPage #deleteWrapper #postDeleteWrapper {
    padding-top: 15px;
    height: 200px;
}
#settingsPage #deleteWrapper #postDeleteWrapper #statusText {
    font-size: 1.8em;
    font-weight: unset;
}
#settingsPage #deleteWrapper #postDeleteWrapper #stopDelete {
    padding: 10px 15px;
    font-size: 2em;
    background-color: lightgray;
    border: 2px solid black;
}

/* Setting -- Membership */

#settingsPage #membershipGraphic {
    width: 15vw;
}

#settingsPage h1.membershipHeader {
    margin-bottom: 0;
    font-size: 2.5em;
    padding: 5px;
}

#settingsPage #restartMembership {
    margin-bottom: 4vh;
}

#settingsPage #editPage .infoText {
    margin-top: 0;
    padding: 0 5vw;
    font-weight: normal;
}
#settingsPage #membershipStatus {
    font-weight: normal;
}

#settingsPage div.stateWrapper {
    width: 100%;
}

#settingsPage .subAction.sw_button {
    padding: 10px 15px;
    font-size: 2em;
    border-radius: 5px;
}

/* Setting -- Support */

#settingsPage #supportWrapper > p {
    margin: 10px 15px;
    font-size: 2em;
}
#settingsPage #supportWrapper a {
    color: black;
}

#settingsPage #supportWrapper .contactPoint {
    margin-top: 0;
}

#settingsPage #appVersion {
    color: gray;
}


/* .act_drop_wrapper {
    margin: 20px;
    margin-left: 7%;
    width: 85%;
    height: 30px;
    text-align: center;
    border-style: solid;
    border-color: var(--sw-main-color);
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    outline: none;
    transition: height 0.25s;
}

.act_drop_button {
    width: 100%;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
}

.act_drop_content {
    background-color: white;
    height: 210px;
    padding: 5%;
    margin: 5%;
    opacity: 0;
    transition: opacity 0.25s;
}

.drop_button_underline {
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
}

.dropdown_expanded {
    height: 300px;
} */
