/* #statsPage > [element_here] { ... } */

/* #statsPage #eventPage .sportwatch_selector {
  border: 1px solid black;
  background-color: rgb(245, 77, 77);
  font-size: 2em;
  font-weight: bold;
}

#statsPage #eventPage .sportwatch_selector * {
  border: 1px solid black;
  background-color: rgb(245, 77, 77);
} */

/* event box */

#statsPage #eventPage #event_results {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    font-weight: bold;
}


#statsPage #eventPage #event_results thead {
    font-size: 1.1em;
    font-weight: bolder;
}

.dataTables_wrapper {
    font-size: 4vw;
    z-index: 0;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

#statsPage #stats_summary {
    border: 1px solid black;
    border-radius: 12px;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 5vw;
    padding: 15px;
}

#statsPage #stats_summary_interval {
    font-size: 2em;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px 0;
    text-align: center;
}


#statsPage #eventPage #event_results .column_names th {
    border: 3px solid black;
}

/* Filter styling (show entry number, search) */
#statsPage #event_results_wrapper #event_results_filter input {
    margin-bottom: 15px;
    font-size: 1.5em;
    width: 60%;
    outline: none;
    -webkit-appearance: none;;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
}

#statsPage #event_results_wrapper #event_results_length select {
    padding: 5px 0 5px 8px; /* Removes padding from dropdown arrow on right side */
    width: 3em;
    height: 40px;
    font-size: 1em;
    border: 2px solid black;
    -webkit-appearance: none;
}

#statsPage #event_results_wrapper #event_results_paginate a.paginate_button.current {
    background: lightgray;
    border: 1px solid black;
    border-radius: 5px;
}


/* Override table library sorting images */
#statsPage #event_results_wrapper thead th {
    background-size: 1em;
    background-position-x: 90%;
}
#statsPage #event_results_wrapper .sorting {
    background-image: url("../img/stat-table/unsorted.png"); /* Use ../ to navigate out of /css/ folder */
}
#statsPage #event_results_wrapper .sorting_desc {
    background-image: url("../img/stat-table/high-to-low.png");
}
#statsPage #event_results_wrapper .sorting_asc {
    background-image: url("../img/stat-table/low-to-high.png");
}


#statsPage #save_csv {
    background-color: var(--add-button-color);
    transition: background-color 0.5s;
    font-size: 4.5vw;
}

#statsPage #save_csv:disabled {
    background-color: var(--disabled-button-color);
}