/* #statsPage > [element_here] { ... } */

/* #statsPage #eventPage .sportwatch_selector {
  border: 1px solid black;
  background-color: rgb(245, 77, 77);
  font-size: 2em;
  font-weight: bold;
}

#statsPage #eventPage .sportwatch_selector * {
  border: 1px solid black;
  background-color: rgb(245, 77, 77);
} */

/* event box */

#statsPage #eventPage #event_results {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    font-weight: bold;
}

#statsPage #eventPage #event_results thead {
    font-size: 1.1em;
    font-weight: bolder;
}

.dataTables_wrapper {
    font-size: 4vw;
}


#statsPage #eventPage #event_results .column_names th {
    border: 3px solid black;
}

#statsPage #save_csv {
    background-color: rgb(64, 202, 0);
    transition: background-color 0.5s;
    font-size: 3.5vw;
}

#statsPage #save_csv:disabled {
    background-color: lightgray;
}
