/* #statsPage > [element_here] { ... } */

#statsPage .button_box {
  width: 100%;
  text-align: center;
  display: block;
  margin: auto;
}

#statsPage .stats_button {
  background-color: rgb(245, 77, 77);
  text-align: center;
  border: 1px solid red;
  color: white;
  padding: 10px 24px;
  width: 75%;
  margin-left: 12.5%;
  display: block;
}

#statsPage button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

#statsPage button:active {
  background-color: crimson;
}
