#stopwatchPage > .stopwatch_canvas {
  margin-top: 1em;
  height: 300px;
  width: 400px;
}

#stopwatchPage > .stopwatch_start_stop {
  background: crimson;
  display: block;
  border-radius: 50%;
  border: 1px solid red;
}

#stopwatchPage > .stopwatch_reset {
  background: crimson;
  border: none;
  outline: none;
}

#stopwatchPage > .stopwatch_lap {
  background: crimson;
  border: none;
  outline: none;
}

#stopwatchPage > .stopwatch_lap_times {
  font-size: 2em;
}
