/* #teamPage > [elementHere] { ... } */

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// univsersal teamPage elements
.......................................................................................................*/
#teamPage > h1 {
  font-size: 3.5em;
}

#teamPage button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

#teamPage button:focus {
  background-color: crimson;
}

#teamPage .generic_header .back_button {
  position: absolute;
  left: 10%;
  font-size: 4em;
  font-weight: bold;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// athletePage elements
.......................................................................................................*/


#teamPage #athletePage #athlete_info {
  font-size: 2em;
  padding-bottom: 1em;
  border-bottom: solid #000 5px;
}

#teamPage #athletePage #athlete_edit {
  display: inline;
  font-size: 2.5em;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// editAthletePage elements
.......................................................................................................*/

/* editAthletePage */
#teamPage #editAthletePage p {
  font-weight: bold;
  font-size: 2em;
  overflow: auto;
}

#teamPage #editAthletePage .generated_button {
  margin-top: 2.5em;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// athleteStats elements
.......................................................................................................*/

#athlete_stats_container {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
    margin-top: 2em;
}

#athlete_stats_container * {
    font-size: 1.5em;
    border: 1px solid black;
}

#teamPage tr:nth-child(odd) td {
    background-color: gray;
}

#teamPage canvas {
    margin-top: 3em;

    width: 400px;
    height: 400px;
}

/* ---- MISC ---- */

#teamPage {
    height: 100%; /* Since it's embedded in another div page */
}
