
/* ---- TITLE BASE STYLING ---- */

#createteamPage {
    padding-top: env(safe-area-inset-top);
}

#createteamPage #banner {
    padding: 5px;
    margin: auto;
    width: 80%;
    border: 4px solid black;
    border-radius: 3vw;
    background-color: crimson;
}

#createteamPage #banner h1 {
    margin-top: 2%;
    color: white;
    font-size: 3vh;
    font-family: Arial;
}

#createteamPage .step {
  /* padding: 4% 6% 4% 6%; */
  padding: 1em 1.5em;
  display: inline-block;
  background-color: white;
  font-size: 3.5vw;
  border: 3px solid black;
  border-radius: 100%;
  transition: background-color 1.5s;
}

#createteamPage .step_selected {
    background-color: pink;
}

#createteamPage #step2 {
    margin: 5% 12% 2% 12%;
}

#createteamPage .div_page { /* To move below banner */
    top: 25vh;
}

/* ---- GENERAL ---- */

#createteamPage > .div_page {
    height: 60%;
}

#createteamPage .button_progression {
    margin: 5px;
    padding: 5px;
    width: 15vw;
    height: 12vw; /* 50 + 2px border on input */
    max-width: 65px;
    max-height: 55px;
    vertical-align: top;
    background-color: crimson;
    background-image: url("../img/arrow.png");
    /* background-size: 15vw 12vw; */
    background-size: cover;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#createteamPage .button_back {
    background-color: lightgray;
    transform: rotate(180deg); /* So arrow points left */
}

/* Have to specify createTeam button due to CSS specificity :< */
#createteamPage button:disabled, #createteamPage #button_createTeam:disabled {
    background-color: dimgray;
    opacity: 1;
}

#createteamPage button {
    outline: none;
}
#createteamPage input {
    outline: none;
}

/* ---- TIPS ---- */

#createteamPage .ul_tips {
    margin: auto;
    margin-top: 0;
    padding-left: 0;
    width: 30em;
    overflow: auto;
    text-align: center;
    list-style-position: inside;
}

#createteamPage #p_tipHeading {
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 2em;
}

#createteamPage .tips {
    margin-bottom: 0;
    /* float: left; */
    font-size: 2em;
}

/* Use when a condition hasn't been met */
#createteamPage .tips.bolded {
    font-weight: bold;
}

/* ---- NAME TEAM ---- */

#createteamPage #namePage h1 {
    font-size: 3em;
}

#createteamPage #input_teamName {
    margin-top: 0;
    margin-right: -4px; /* Push against submit button */
    font-size: 2.5em;
    border-radius: 5px 0 0 5px;
}

#createteamPage #button_submitName {
    padding: 5px;
    width: 50px;
    height: 54px; /* 50 + 2px border on input */
    vertical-align: top;
    background-color: crimson;
    background-image: url("../img/arrow.png");
    background-size: 50px 54px;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.5s;
}

#createteamPage #button_submitName:disabled {
    background-color: dimgray;
    opacity: 1;
}


/* ---- SCHOOL ---- */
#createteamPage #schoolPage h1 {
    font-size: 2.5em;
}

#createteamPage #schoolPage #input_school {
    margin: 0 5px -1px 5px; /* -1px to suck search results up */
    font-size: 20px;
}

#createteamPage #schoolPage #searchList {
    height: 30vh;
    overflow: auto;
}

#createteamPage #schoolPage .searchResult {
    margin: 0 auto;
    padding: 15px;
    width: 65%;
    display: block;
    text-align: left;
    -webkit-appearance: none;
}
#createteamPage #schoolPage .s_name {
    font-size: 1.5em;
}
#createteamPage #schoolPage .s_logo {
    margin-right: 0.5em;
    width: 1.5em;
    border: 1px solid black;
}


/* ---- OPTIONS ---- */

#createteamPage #button_createTeam {
    margin: 5px;
    padding: 15px;
    background-color: crimson;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    transition: background-color 0.5s;
}


/* ---- POST CREATE ---- */

#createteamPage #postCreatePage h1 {
    font-size: 3vh;
}

#createteamPage #postCreatePage p {
    margin: 0 10% 10% 10%;
    font-size: 2.5vh;
}

#createteamPage #postCreatePage button {
    margin: 10px;
    padding: 10px;
    background-color: crimson;
    font-size: 2em;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

#createteamPage #postCreatePage #button_goToMain {
    background-color: gray;
}


/* ---- INVITE ATHLETES ---- */

#createteamPage #invitePage .sectionWrapper {
    margin: 5vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

#createteamPage #invitePage #button_sendInvite {
    padding: 10px;
    font-size: 1.5em;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#createteamPage #invitePage #schoolAthletesList {
    height: 25vh;
    overflow: auto;
}

#createteamPage #invitePage .button_schoolAthlete {
    margin: 5px auto;
    padding: 10px;
    width: 85%;
    display: block;
    border: 2px solid crimson;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
    -webkit-appearance: none;
    transition: all 0.5s;
}

#createteamPage #invitePage .button_schoolAthlete:disabled {
    background-color: lightgray;
    opacity: 1;
}
#createteamPage #invitePage .button_schoolAthlete.invited {
    border-color: green;
}
#createteamPage #invitePage .button_schoolAthlete.failed {
    border-color: black;
}

/* ---- MISC ---- */

#createteamPage {
    height: 100%; /* Since it's embedded in another div page */
}

/*
#createteamPage #div_continueCont {
    margin: auto;
    width: 40vw;
    height: 8vh;
    background-color: crimson;
    border-radius: 5px;
}

#createteamPage #div_continueCont p {
    display: inline;
    vertical-align: middle;
    font-size: 2em;
}

#createteamPage #div_continueCont img {
    float: right;
    width: 50px;
}
*/
