/* #teamPage > [elementHere] { ... } */

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// univsersal teamPage elements
.......................................................................................................*/
#teamPage > h1 {
  font-size: 3.5em;
}

/*
#teamPage button:not(:last-child) {
  border-bottom: none; Prevent double borders
} */

#teamPage .athlete_container {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// athletePage elements
.......................................................................................................*/


#teamPage #athletePage #athlete_edit {
  display: inline;
  font-size: 2.5em;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// editAthletePage elements
.......................................................................................................*/

/* editAthletePage */
#teamPage #editAthletePage p {
  font-weight: bold;
  font-size: 2em;
  overflow: auto;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ 
// athleteStats elements
.......................................................................................................*/

#athlete_stats_container {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
    border-collapse: collapse;
}

#athlete_stats_container * {
    font-size: 1.5em;
    border: 1px solid black;
}

#teamPage .alternating_table_shade tr:nth-child(odd) td {
    background-color: gray;
}

#teamPage .delete_column_red tr td:nth-child(4) {
    background: red;
    font-size: 1.5em;
}

/* Try to prevent text breaks */
#teamPage .alternating_table_shade th:nth-child(1) {
    width: 25%;
}
#teamPage .alternating_table_shade th:nth-child(2) {
    width: 40%;
}

#teamPage .delete_column_red th:nth-child(1) {
    width: 25%;
}
#teamPage .delete_column_red th:nth-child(2) {
    width: 21%;
}

#teamPage .delete_column_red input {
    width: 70%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: none;
}

#teamPage canvas {
    width: 400px;
    height: 400px;
}

/* ---- MISC ---- */

#teamPage {
    height: 100%; /* Since it's embedded in another div page */
}

#teamPage .action_button {
    font-size: 2.5em;
    border-radius: 15%;
    border: 2px solid black;
    margin: 1.5em;
}


#teamPage .edit_values_button {
    background: lightpink;
}

#teamPage .save_values_button {
    background: rgb(64, 202, 0);
}

#teamPage .add_values_button {
    background: rgb(64, 202, 0);
}