
/* ---- GENERAL ---- */

#jointeamPage .sectionWrapper {
    margin: 0 4vw 4vw 4vw;
    padding: 10px;
    background-color: #eee;
    border: 2px solid var(--sw-main-color);
    border-radius: 15px;
}

#jointeamPage .sectionLabel {
    margin: 10px 5px;
    font-size: 2em;
}

#jointeamPage .button_progression {
    margin: 5px;
    padding: 5px;
    width: 15vw;
    height: 13vw; /* 50 + 2px border on input */
    max-width: 65px;
    max-height: 55px;
    vertical-align: top;
    background-color: var(--sw-main-color);
    background-image: url("../img/arrow.png");
    /* background-size: 15vw 12vw; */
    background-size: cover;
    border-radius: 5px;
    transition: background-color 0.5s;
}

#jointeamPage .button_back {
    background-color: var(--page-back-button-color);
    /* transform: rotate(180deg); /* So arrow points left */
}

/* ---- INVITE CODE ---- */

#jointeamPage #input_inviteCode {
    width: 50%;
    margin-bottom: 0; /* Reset from generic_elements.css */
    text-align: center;
    font-size: 2em;
    border: 2px solid black;
}

#jointeamPage #button_join {
    width: 30%;
    margin: 15px 10px 10px 10px;
    padding: 15px;
    background-color: var(--sw-main-color);
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    transition: all 0.5s;
    outline: none;
    -webkit-appearance: none;
}

#jointeamPage #button_join:disabled {
    color: black;
    background-color: var(--disabled-button-color);
    opacity: 1;
}

/* ---- MISC ---- */

#jointeamPage {
    height: 100%; /* Since it's embedded in another div page */
}
