
/* ---- TITLE BASE STYLING ---- */

#div_createBase {
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    border: 1vw solid black;
    border-radius: 3vw;
    background-color: crimson;
}

#div_createBase h1 {
    margin-top: 2%;
    color: white;
    font-size: 3vh;
    font-family: Arial;
}

.step {
  /* padding: 4% 6% 4% 6%; */
  padding: 1em 1.5em;
  display: inline-block;
  background-color: white;
  font-size: 2.5vmax;
  border: 0.7vw solid black;
  border-radius: 100%;
  transition: background-color 1s;
}

.step_selected {
    background-color: pink;
}

#step2 {
    margin: 5% 12% 2% 12%;
}

/* ---- TIPS ---- */

.ul_tips {
    margin: auto;
    margin-top: 0;
    width: 30em;
    overflow: auto;
    text-align: center;
    list-style-position: inside;
}

#p_tipHeading {
    margin-top: 10%;
    margin-bottom: 0;
    font-size: 2em;
}

.tips {
    margin-bottom: 0;
    /* float: left; */
    font-size: 2em;
}

/* Use when a condition hasn't been met */
.tips.bolded {
    font-weight: bold;
}

/* ---- NAME TEAM ---- */

#namePage h1 {
    font-size: 30px;
}

#input_teamName {
    margin-top: 0;
    margin-right: -4px; /* Push against submit button */
    outline: none;
    font-size: 25px;
    border-radius: 5px 0 0 5px;
}

#button_submitName {
    padding: 5px;
    width: 50px;
    vertical-align: top;
    background-color: crimson;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.5s;
}

#button_submitName:disabled {
    background-color: dimgray;
    opacity: 1;
}


/* ---- NAME TEAM ---- */
#schoolPage h1 {
    font-size: 30px;
}

#schoolPage .sw_text_input {
    font-size: 2.5em;
}

#button_submitSchool {
    padding: 5px;
    background-color: crimson;
    font-size: 20px;
}

#div_continueCont {
    margin: auto;
    width: 40vw;
    height: 8vh;
    background-color: crimson;
    border-radius: 5px;
}

#div_continueCont p {
    display: inline;
    vertical-align: middle;
    font-size: 2em;
}

#div_continueCont img {
    float: right;
    width: 50px;
}


/* ---- MISC ---- */

.div_page {
    top: 40%; /* To move past title of create team */
    height: unset; /* Prevent long scrolling */
}
