
/* DEPRECATED: Simple page, so only use in-line styling */


/**********************
        GENERAL
***********************/

#welcomePage h1 {
    font-family: "Poppins", sans-serif;
}

#welcomePage header { 
    text-align: center;
}

#welcomePage header > span {
    margin-left: 0;
    margin-right: 0;
    font-size: 4em;
    display: inline-block;
}

#welcomePage header > p {
    margin-left: auto;
    font-size: 3.5em;
    display: inline-block;
}

#welcomePage .selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcomePage .sw_big_button {
    width: 30%;
}
